* {
    margin: 0px;
    padding: 0px;
}

#container {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
}

.hero {
    display: block;
    background-image: url(imgs/hero_image.jpg);
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 22.5/9;
    width: 100%;
    background-color: aquamarine;

}

.head {
    color: white;
}